.react-confirm-alert-blur {
  filter: none !important;
  -webkit-filter: none !important;
}

.react-confirm-alert-body > h1 {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: bold;
}

.react-confirm-alert-overlay{
  background: rgba(255, 255, 255, 0.7);
}

.react-confirm-alert-button-group > button {
 font-weight: bold;
 background: #ef5039;
 border-color: rgb(230, 90, 64);
 margin-right: 15px;
}